@inherits LayoutComponentBase

<body class="d-flex flex-column min-vh-100" data-bs-theme="light">
    <header class="text-center py-3 shadow-sm">
        <h1 class="h4 m-0 font-monospace text-eodhd user-select-none">EODHD Syncfusion Stock Chart</h1>
    </header>

    <main class="mt-5">
        @Body
    </main>

    <footer class="text-center py-3 border-top">
        <a href="https://github.com/horia-apostol/eodhd-syncfusion-chart" 
           target="_blank" 
           rel="noopener noreferrer"
           class="font-monospace text-decoration-none small text-eodhd">
            &#64;Github horia-apostol
        </a>
    </footer>
</body>

